@model ProductManagementApp.Models.Produto

@{
    ViewData["Title"] = "Editar Produto";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit" method="post">
    <div class="form-group mt-3">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" required />
    </div>
    <div class="form-group mt-3">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" id="Descricao" name="Descricao" value="@Model.Descricao" required />
    </div>
    <div class="form-group mt-3">
        <label for="Preco">Preço</label>
        <input type="number" step="0.01" class="form-control" id="Preco" name="Preco" value="@Model.Preco" required />
    </div>
    <div class="form-group mt-3">
        <label for="QuantidadeEmEstoque">Quantidade em Estoque</label>
        <input type="number" class="form-control" id="QuantidadeEmEstoque" name="QuantidadeEmEstoque" value="@Model.QuantidadeEmEstoque" required />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a href="@Url.Action("Index", "Produto")" class="btn btn-secondary mt-3">Cancelar</a> 
</form>
